{{ include('partials/header.twig') }}

<a href="#" style="text-align: center; position: fixed; z-index: 1000; top: 50px; left: 50px;" onclick="muteAudio()"><img style="width: 30px; height:30px;" src="{{ global.request.basepath }}/assets/images/sound.svg"/></a>

<div id="fullpage">
  <section class="section sections section_commencer">
    <video class="myVideo" data-autoplay style="z-index: -1000;" style="position: fixed; top:0;">
        <source src="{{ global.request.basepath }}/assets/videos/intro.mp4" type="video/mp4">
    </video>
    <h2 class="title_intro" style="
  text-align: center; font-size: 6em;">Crackopolis</h2>

    <a href="{{ url('chapter', {id: '1'}) }}" class="btns" style="text-align: center;">
                    COMMENCER
      </a>

  </section>
</div>


<script src="{{global.request.basepath}}/assets/js/anime.min.js"></script>
<script src="{{global.request.basepath}}/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="{{global.request.basepath}}/assets/js/animationHome.js"></script>

{{ include('partials/footer.twig') }}
